@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.margin-row {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

.bordure {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

.margin-alert {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

.exception:before {
  background: #74d0f1;
}

fa-icon {
  font-size: 25px;
}

.color {
  background-color: white;
}

ol {
  counter-reset: repas;
} /* on initialise et nomme un compteur */
li {
  list-style-type: none;
  counter-increment: repas; /* on incrémente le compteur à chaque nouveau li */
  margin-bottom: 10px;
}
li:before {
  content: counter(repas); /* on affiche le compteur */
  padding: 6px 10px 6px;
  margin-right: 8px;
  vertical-align: top;
  background: #678;
  -moz-border-radius: 60px;
  border-radius: 60px;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
}

h1 {
  text-align: center;
  font-size: 35px;
}

h2 {
  text-align: center;
}
