<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetInscriptionApp.inscription.home.title">Inscriptions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-inscription" [routerLink]="['/inscription/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="projetInscriptionApp.inscription.home.createLabel">
            Create a new Inscription
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="inscriptions?.length === 0">
        <span jhiTranslate="projetInscriptionApp.inscription.home.notFound">No inscriptions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="inscriptions && inscriptions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estApte"><span jhiTranslate="projetInscriptionApp.inscription.estApte">Est Apte</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estBoursier"><span jhiTranslate="projetInscriptionApp.inscription.estBoursier">Est Boursier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estAssure"><span jhiTranslate="projetInscriptionApp.inscription.estAssure">Est Assure</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enRegleBiblio"><span jhiTranslate="projetInscriptionApp.inscription.enRegleBiblio">En Regle Biblio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="situationMatrimoniale"><span jhiTranslate="projetInscriptionApp.inscription.situationMatrimoniale">Situation Matrimoniale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeEtude"><span jhiTranslate="projetInscriptionApp.inscription.anneeEtude">Annee Etude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cycle"><span jhiTranslate="projetInscriptionApp.inscription.cycle">Cycle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="departement"><span jhiTranslate="projetInscriptionApp.inscription.departement">Departement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="optionChoisie"><span jhiTranslate="projetInscriptionApp.inscription.optionChoisie">Option Choisie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreInscriptionAnterieur"><span jhiTranslate="projetInscriptionApp.inscription.nombreInscriptionAnterieur">Nombre Inscription Anterieur</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="redoublezVous"><span jhiTranslate="projetInscriptionApp.inscription.redoublezVous">Redoublez Vous</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="horaireDesTd"><span jhiTranslate="projetInscriptionApp.inscription.horaireDesTd">Horaire Des Td</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="niveau.id"><span jhiTranslate="projetInscriptionApp.inscription.niveau">Niveau</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeUniversitaire.id"><span jhiTranslate="projetInscriptionApp.inscription.anneeUniversitaire">Annee Universitaire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etudiant.id"><span jhiTranslate="projetInscriptionApp.inscription.etudiant">Etudiant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inscription of inscriptions ;trackBy: trackId">
                    <td><a [routerLink]="['/inscription', inscription.id, 'view']">{{ inscription.id }}</a></td>
                    <td>{{ inscription.estApte }}</td>
                    <td>{{ inscription.estBoursier }}</td>
                    <td>{{ inscription.estAssure }}</td>
                    <td>{{ inscription.enRegleBiblio }}</td>
                    <td jhiTranslate="{{ 'projetInscriptionApp.EnumSituation.' + inscription.situationMatrimoniale }}">{{ inscription.situationMatrimoniale }}</td>
                    <td>{{ inscription.anneeEtude }}</td>
                    <td>{{ inscription.cycle }}</td>
                    <td>{{ inscription.departement }}</td>
                    <td>{{ inscription.optionChoisie }}</td>
                    <td jhiTranslate="{{ 'projetInscriptionApp.EnumNombreInscriptionAnterieure.' + inscription.nombreInscriptionAnterieur }}">{{ inscription.nombreInscriptionAnterieur }}</td>
                    <td>{{ inscription.redoublezVous }}</td>
                    <td jhiTranslate="{{ 'projetInscriptionApp.EnumHoraireTd.' + inscription.horaireDesTd }}">{{ inscription.horaireDesTd }}</td>
                    <td>
                        <div *ngIf="inscription.niveau">
                            <a [routerLink]="['/niveau', inscription.niveau?.id, 'view']" >{{ inscription.niveau?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inscription.anneeUniversitaire">
                            <a [routerLink]="['/annee-universitaire', inscription.anneeUniversitaire?.id, 'view']" >{{ inscription.anneeUniversitaire?.libelle }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="inscription.etudiant">
                            <a [routerLink]="['/etudiant', inscription.etudiant?.id, 'view']" >{{ inscription.etudiant?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/inscription', inscription.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/inscription', inscription.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(inscription)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="inscriptions && inscriptions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
