<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inscription">
            <h2><span jhiTranslate="projetInscriptionApp.inscription.detail.title">Inscription</span> {{ inscription.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetInscriptionApp.inscription.estApte">Est Apte</span></dt>
                <dd>
                    <span>{{ inscription.estApte }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.estBoursier">Est Boursier</span></dt>
                <dd>
                    <span>{{ inscription.estBoursier }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.estAssure">Est Assure</span></dt>
                <dd>
                    <span>{{ inscription.estAssure }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.enRegleBiblio">En Regle Biblio</span></dt>
                <dd>
                    <span>{{ inscription.enRegleBiblio }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.situationMatrimoniale">Situation Matrimoniale</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projetInscriptionApp.EnumSituation.' + inscription.situationMatrimoniale }}">{{ inscription.situationMatrimoniale }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.anneeEtude">Annee Etude</span></dt>
                <dd>
                    <span>{{ inscription.anneeEtude }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.cycle">Cycle</span></dt>
                <dd>
                    <span>{{ inscription.cycle }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.departement">Departement</span></dt>
                <dd>
                    <span>{{ inscription.departement }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.optionChoisie">Option Choisie</span></dt>
                <dd>
                    <span>{{ inscription.optionChoisie }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.nombreInscriptionAnterieur">Nombre Inscription Anterieur</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projetInscriptionApp.EnumNombreInscriptionAnterieure.' + inscription.nombreInscriptionAnterieur }}">{{ inscription.nombreInscriptionAnterieur }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.redoublezVous">Redoublez Vous</span></dt>
                <dd>
                    <span>{{ inscription.redoublezVous }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.horaireDesTd">Horaire Des Td</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projetInscriptionApp.EnumHoraireTd.' + inscription.horaireDesTd }}">{{ inscription.horaireDesTd }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.niveau">Niveau</span></dt>
                <dd>
                    <div *ngIf="inscription.niveau">
                        <a [routerLink]="['/niveau', inscription.niveau?.id, 'view']">{{ inscription.niveau?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.anneeUniversitaire">Annee Universitaire</span></dt>
                <dd>
                    <div *ngIf="inscription.anneeUniversitaire">
                        <a [routerLink]="['/annee-universitaire', inscription.anneeUniversitaire?.id, 'view']">{{ inscription.anneeUniversitaire?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.inscription.etudiant">Etudiant</span></dt>
                <dd>
                    <div *ngIf="inscription.etudiant">
                        <a [routerLink]="['/etudiant', inscription.etudiant?.id, 'view']">{{ inscription.etudiant?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inscription', inscription.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
