<div class="row footer">
    <div class="col-md-9 padding-div">
        <span class="p-footer">Contactez l'UCAD</span><br>
        <span class="p-footer-esp">Direction Coopération Rectorat</span>
        <div class="margin-div">
            <fa-icon [icon]="faGlobe" class="size-icon"></fa-icon>
            <a href="http://www.esp.sn" class="a-footer" >http://www.ucad.sn</a>
        </div>
        <div class="margin-div">
            <fa-icon [icon]="faPhoneAlt" class="size-icon"></fa-icon>
            <a class="a-footer">+221 33 825 55 96 / +221 33 865 00 40 / +221 33 865 00 51 </a>
        </div>
        <div class="margin-div">
            <fa-icon [icon]="faEnvelope" class="size-icon"></fa-icon>
            <a href="mailto:dmi@esp.sn" class="a-footer">dmi@esp.sn</a>
        </div>
        <div class="margin-div">
            <fa-icon [icon]="faMapMarkerAlt" class="size-icon"></fa-icon>
            <a class="a-footer">Université Cheikh Anta Diop de Dakar, Corniche Ouest BP:5005 Dakar-Fann</a>
        </div>
        <div class="margin-div">
            <fa-icon [icon]="faClock" class="size-icon"></fa-icon>
            <a class="a-footer">08h-12h et 15h-18h</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="logos">
            <a href="https://www.facebook.com/espdakar"><img src="../../../content/images/icon_facebook.png" class="logo-rs"></a>
            <a href="https://twitter.com/esp_dakar"><img src="../../../content/images/icon_twitter.png" class="logo-rs"></a>
        </div>
    </div>
</div>
