<div class="container">
    <nav class="navbar navbar-light bg-light justify-content-between" style="margin-bottom:30px;">
        <a class="navbar-brand">Recherche</a>
        <form class="form-inline">
            <div class="form-group col-md-4">
                <select id="inputState" class="form-control">
                    <option selected>Entite</option>
                    <option>Etudiant</option>
                    <option>Assureur</option>
                    <option>Agent Biblio</option>
                    <option>Medecin</option>
                </select>
            </div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>
<div class="container" style="margin-bottom:30px;">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Numero Etudiant</th>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>201808EH5</td>
            <td>Ndene</td>
            <td>Alexandre Adiouma</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container" style="margin-bottom:30px;">

    <button class="btn btn-primary"> Modifier</button>
</div>









<div class="container" style="margin-bottom:30px;">





    <div class="card">
        <h5 class="card-body bg bg-primary" style="color:white;">
            Ci-dessous vous pouvez importer des fichiers excel pour la base de donnees .
        </h5>
    </div>




</div>

<div class="container" style="margin-bottom:30px;">


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Etudiants Importation</h5>
                    <p class="card-text">Appuyer sur le bouton pour charger une liste d'etudiants .</p>
                    <input href="" class="btn btn-primary" type="file" value="Importer">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Formations Importation</h5>
                    <p class="card-text">Appuyer sur le bouton pour chrager une liste de formations .</p>
                    <input href="" class="btn btn-primary" type="file" value="Importer">
                </div>
            </div>
        </div>


    </div>

</div>



<div class="container" style="margin-bottom:30px;">


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Departements Importation</h5>
                    <p class="card-text">Appuyer sur le bouton pour charger une liste des departements .</p>
                    <input href="" class="btn btn-primary" type="file" value="Importer">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Niveaux Importation</h5>
                    <p class="card-text">Appuyer sur le bouton pour chrager une liste de niveaux .</p>
                    <input href="" class="btn btn-primary" type="file" value="Importer">
                </div>
            </div>
        </div>


    </div>

</div>








<div class="container" style="margin-bottom:30px;">





    <div class="card">
        <h5 class="card-body bg bg-success" style="color:white;">
            Ci-dessous vous pouvez exproter les listes de la classe .
        </h5>
    </div>




</div>

<div class="container" style="margin-bottom:30px;">


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Etudiants Exportation</h5>
                    <p class="card-text">Appuyer sur le bouton avoir la liste des etudiants .</p>
                    <input href="" class="btn btn-success" type="button" value="Exporter">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Formations Importation</h5>
                    <p class="card-text">Appuyer sur le bouton avoir la liste des formations .</p>
                    <input href="" class="btn btn-success" type="button" value="Exporter">
                </div>
            </div>
        </div>


    </div>

</div>



<div class="container" style="margin-bottom:30px;">


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Departements Importation</h5>
                    <p class="card-text">Appuyer sur le bouton pour avoir la liste des departements .</p>
                    <input href="" class="btn btn-success" type="button" value="Exporter">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Niveaux Importation</h5>
                    <p class="card-text">Appuyer sur le bouton pour avoir la liste des niveaux .</p>
                    <input href="" class="btn btn-success" type="button" value="Exporter">
                </div>
            </div>
        </div>
    </div>

</div>
