<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetInscriptionApp.etudiant.home.title">Etudiants</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etudiant" [routerLink]="['/etudiant/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="projetInscriptionApp.etudiant.home.createLabel">
            Create a new Etudiant
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="etudiants?.length === 0">
        <span jhiTranslate="projetInscriptionApp.etudiant.home.notFound">No etudiants found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="etudiants && etudiants.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numIdentifiant"><span jhiTranslate="projetInscriptionApp.etudiant.numIdentifiant">Num Identifiant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateNaissance"><span jhiTranslate="projetInscriptionApp.etudiant.dateNaissance">Date Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuNaissance"><span jhiTranslate="projetInscriptionApp.etudiant.lieuNaissance">Lieu Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sexe"><span jhiTranslate="projetInscriptionApp.etudiant.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ine"><span jhiTranslate="projetInscriptionApp.etudiant.ine">Ine</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="projetInscriptionApp.etudiant.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="projetInscriptionApp.etudiant.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomDuMari"><span jhiTranslate="projetInscriptionApp.etudiant.nomDuMari">Nom Du Mari</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="regionDeNaissance"><span jhiTranslate="projetInscriptionApp.etudiant.regionDeNaissance">Region De Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom2"><span jhiTranslate="projetInscriptionApp.etudiant.prenom2">Prenom 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom3"><span jhiTranslate="projetInscriptionApp.etudiant.prenom3">Prenom 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paysDeNaissance"><span jhiTranslate="projetInscriptionApp.etudiant.paysDeNaissance">Pays De Naissance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nationalite"><span jhiTranslate="projetInscriptionApp.etudiant.nationalite">Nationalite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="addresseADakar"><span jhiTranslate="projetInscriptionApp.etudiant.addresseADakar">Addresse A Dakar</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="boitePostal"><span jhiTranslate="projetInscriptionApp.etudiant.boitePostal">Boite Postal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="portable"><span jhiTranslate="projetInscriptionApp.etudiant.portable">Portable</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activiteSalariee"><span jhiTranslate="projetInscriptionApp.etudiant.activiteSalariee">Activite Salariee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categorieSocioprofessionnelle"><span jhiTranslate="projetInscriptionApp.etudiant.categorieSocioprofessionnelle">Categorie Socioprofessionnelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="situationFamiliale"><span jhiTranslate="projetInscriptionApp.etudiant.situationFamiliale">Situation Familiale</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombreEnfant"><span jhiTranslate="projetInscriptionApp.etudiant.nombreEnfant">Nombre Enfant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bourse"><span jhiTranslate="projetInscriptionApp.etudiant.bourse">Bourse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="natureBourse"><span jhiTranslate="projetInscriptionApp.etudiant.natureBourse">Nature Bourse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="montantBourse"><span jhiTranslate="projetInscriptionApp.etudiant.montantBourse">Montant Bourse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="organismeBoursier"><span jhiTranslate="projetInscriptionApp.etudiant.organismeBoursier">Organisme Boursier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serieDiplome"><span jhiTranslate="projetInscriptionApp.etudiant.serieDiplome">Serie Diplome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeDiplome"><span jhiTranslate="projetInscriptionApp.etudiant.anneeDiplome">Annee Diplome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mentionDiplome"><span jhiTranslate="projetInscriptionApp.etudiant.mentionDiplome">Mention Diplome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuDiplome"><span jhiTranslate="projetInscriptionApp.etudiant.lieuDiplome">Lieu Diplome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serieDuelDuesDutBts"><span jhiTranslate="projetInscriptionApp.etudiant.serieDuelDuesDutBts">Serie Duel Dues Dut Bts</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeDuelDuesDutBts"><span jhiTranslate="projetInscriptionApp.etudiant.anneeDuelDuesDutBts">Annee Duel Dues Dut Bts</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mentionDuelDuesDutBts"><span jhiTranslate="projetInscriptionApp.etudiant.mentionDuelDuesDutBts">Mention Duel Dues Dut Bts</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuDuelDuesDutBts"><span jhiTranslate="projetInscriptionApp.etudiant.lieuDuelDuesDutBts">Lieu Duel Dues Dut Bts</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serieLicenceComplete"><span jhiTranslate="projetInscriptionApp.etudiant.serieLicenceComplete">Serie Licence Complete</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeLicenceComplete"><span jhiTranslate="projetInscriptionApp.etudiant.anneeLicenceComplete">Annee Licence Complete</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mentionLicenceComplete"><span jhiTranslate="projetInscriptionApp.etudiant.mentionLicenceComplete">Mention Licence Complete</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuLicenceComplete"><span jhiTranslate="projetInscriptionApp.etudiant.lieuLicenceComplete">Lieu Licence Complete</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serieMaster"><span jhiTranslate="projetInscriptionApp.etudiant.serieMaster">Serie Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeMaster"><span jhiTranslate="projetInscriptionApp.etudiant.anneeMaster">Annee Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mentionMaster"><span jhiTranslate="projetInscriptionApp.etudiant.mentionMaster">Mention Master</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieu"><span jhiTranslate="projetInscriptionApp.etudiant.lieu">Lieu</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serieDoctorat"><span jhiTranslate="projetInscriptionApp.etudiant.serieDoctorat">Serie Doctorat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeDoctorat"><span jhiTranslate="projetInscriptionApp.etudiant.anneeDoctorat">Annee Doctorat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mentionDoctorat"><span jhiTranslate="projetInscriptionApp.etudiant.mentionDoctorat">Mention Doctorat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuDoctorat"><span jhiTranslate="projetInscriptionApp.etudiant.lieuDoctorat">Lieu Doctorat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomPersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.nomPersonneAContacter">Nom Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomDuMariPersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.nomDuMariPersonneAContacter">Nom Du Mari Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lienDeParentePersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.lienDeParentePersonneAContacter">Lien De Parente Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adressePersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.adressePersonneAContacter">Adresse Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rueQuartierPersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.rueQuartierPersonneAContacter">Rue Quartier Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="villePersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.villePersonneAContacter">Ville Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephonePersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.telephonePersonneAContacter">Telephone Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenomPersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.prenomPersonneAContacter">Prenom Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom2PersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.prenom2PersonneAContacter">Prenom 2 Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom3PersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.prenom3PersonneAContacter">Prenom 3 Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="boitePostalePersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.boitePostalePersonneAContacter">Boite Postale Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="portPersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.portPersonneAContacter">Port Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="faxPersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.faxPersonneAContacter">Fax Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="emialPersonneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.emialPersonneAContacter">Emial Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="responsableEstEtudiant"><span jhiTranslate="projetInscriptionApp.etudiant.responsableEstEtudiant">Responsable Est Etudiant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="personneAContacter"><span jhiTranslate="projetInscriptionApp.etudiant.personneAContacter">Personne A Contacter</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusEtudiant"><span jhiTranslate="projetInscriptionApp.etudiant.statusEtudiant">Status Etudiant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span jhiTranslate="projetInscriptionApp.etudiant.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let etudiant of etudiants ;trackBy: trackId">
                    <td><a [routerLink]="['/etudiant', etudiant.id, 'view']">{{ etudiant.id }}</a></td>
                    <td>{{ etudiant.numIdentifiant }}</td>
                    <td>{{ etudiant.dateNaissance | date:'mediumDate' }}</td>
                    <td>{{ etudiant.lieuNaissance }}</td>
                    <td jhiTranslate="{{ 'projetInscriptionApp.EnumSexe.' + etudiant.sexe }}">{{ etudiant.sexe }}</td>
                    <td>{{ etudiant.ine }}</td>
                    <td>{{ etudiant.telephone }}</td>
                    <td>{{ etudiant.email }}</td>
                    <td>{{ etudiant.nomDuMari }}</td>
                    <td>{{ etudiant.regionDeNaissance }}</td>
                    <td>{{ etudiant.prenom2 }}</td>
                    <td>{{ etudiant.prenom3 }}</td>
                    <td>{{ etudiant.paysDeNaissance }}</td>
                    <td>{{ etudiant.nationalite }}</td>
                    <td>{{ etudiant.addresseADakar }}</td>
                    <td>{{ etudiant.boitePostal }}</td>
                    <td>{{ etudiant.portable }}</td>
                    <td>{{ etudiant.activiteSalariee }}</td>
                    <td>{{ etudiant.categorieSocioprofessionnelle }}</td>
                    <td>{{ etudiant.situationFamiliale }}</td>
                    <td>{{ etudiant.nombreEnfant }}</td>
                    <td jhiTranslate="{{ 'projetInscriptionApp.EnumBourse.' + etudiant.bourse }}">{{ etudiant.bourse }}</td>
                    <td jhiTranslate="{{ 'projetInscriptionApp.EnumNatureBourse.' + etudiant.natureBourse }}">{{ etudiant.natureBourse }}</td>
                    <td>{{ etudiant.montantBourse }}</td>
                    <td>{{ etudiant.organismeBoursier }}</td>
                    <td>{{ etudiant.serieDiplome }}</td>
                    <td>{{ etudiant.anneeDiplome }}</td>
                    <td>{{ etudiant.mentionDiplome }}</td>
                    <td>{{ etudiant.lieuDiplome }}</td>
                    <td>{{ etudiant.serieDuelDuesDutBts }}</td>
                    <td>{{ etudiant.anneeDuelDuesDutBts }}</td>
                    <td>{{ etudiant.mentionDuelDuesDutBts }}</td>
                    <td>{{ etudiant.lieuDuelDuesDutBts }}</td>
                    <td>{{ etudiant.serieLicenceComplete }}</td>
                    <td>{{ etudiant.anneeLicenceComplete }}</td>
                    <td>{{ etudiant.mentionLicenceComplete }}</td>
                    <td>{{ etudiant.lieuLicenceComplete }}</td>
                    <td>{{ etudiant.serieMaster }}</td>
                    <td>{{ etudiant.anneeMaster }}</td>
                    <td>{{ etudiant.mentionMaster }}</td>
                    <td>{{ etudiant.lieu }}</td>
                    <td>{{ etudiant.serieDoctorat }}</td>
                    <td>{{ etudiant.anneeDoctorat }}</td>
                    <td>{{ etudiant.mentionDoctorat }}</td>
                    <td>{{ etudiant.lieuDoctorat }}</td>
                    <td>{{ etudiant.nomPersonneAContacter }}</td>
                    <td>{{ etudiant.nomDuMariPersonneAContacter }}</td>
                    <td>{{ etudiant.lienDeParentePersonneAContacter }}</td>
                    <td>{{ etudiant.adressePersonneAContacter }}</td>
                    <td>{{ etudiant.rueQuartierPersonneAContacter }}</td>
                    <td>{{ etudiant.villePersonneAContacter }}</td>
                    <td>{{ etudiant.telephonePersonneAContacter }}</td>
                    <td>{{ etudiant.prenomPersonneAContacter }}</td>
                    <td>{{ etudiant.prenom2PersonneAContacter }}</td>
                    <td>{{ etudiant.prenom3PersonneAContacter }}</td>
                    <td>{{ etudiant.boitePostalePersonneAContacter }}</td>
                    <td>{{ etudiant.portPersonneAContacter }}</td>
                    <td>{{ etudiant.faxPersonneAContacter }}</td>
                    <td>{{ etudiant.emialPersonneAContacter }}</td>
                    <td>{{ etudiant.responsableEstEtudiant }}</td>
                    <td>{{ etudiant.personneAContacter }}</td>
                    <td jhiTranslate="{{ 'projetInscriptionApp.EnumStatusEtudiant.' + etudiant.statusEtudiant }}">{{ etudiant.statusEtudiant }}</td>
                    <td>
                        {{ etudiant.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/etudiant', etudiant.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/etudiant', etudiant.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(etudiant)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="etudiants && etudiants.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
