<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-etudiant-heading" jhiTranslate="projetInscriptionApp.etudiant.home.createOrEditLabel">Create or edit a Etudiant</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.numIdentifiant" for="field_numIdentifiant">Num Identifiant</label>
                    <input type="text" class="form-control" name="numIdentifiant" id="field_numIdentifiant"
                           formControlName="numIdentifiant"/>
                    <div *ngIf="editForm.get('numIdentifiant')!.invalid && (editForm.get('numIdentifiant')!.dirty || editForm.get('numIdentifiant')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numIdentifiant')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numIdentifiant')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 6 }">
                        This field is required to be at least 6 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numIdentifiant')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 9 }">
                        This field cannot be longer than 9 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                    <div class="input-group">
                        <input id="field_dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker #dateNaissanceDp="ngbDatepicker" formControlName="dateNaissance"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateNaissance')!.invalid && (editForm.get('dateNaissance')!.dirty || editForm.get('dateNaissance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateNaissance')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
                    <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance"
                           formControlName="lieuNaissance"/>
                    <div *ngIf="editForm.get('lieuNaissance')!.invalid && (editForm.get('lieuNaissance')!.dirty || editForm.get('lieuNaissance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lieuNaissance')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.sexe" for="field_sexe">Sexe</label>
                    <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe">
                        <option value="Masculin">{{ 'projetInscriptionApp.EnumSexe.Masculin' | translate }}</option>
                        <option value="Feminin">{{ 'projetInscriptionApp.EnumSexe.Feminin' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('sexe')!.invalid && (editForm.get('sexe')!.dirty || editForm.get('sexe')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sexe')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.ine" for="field_ine">Ine</label>
                    <input type="text" class="form-control" name="ine" id="field_ine"
                           formControlName="ine"/>
                    <div *ngIf="editForm.get('ine')!.invalid && (editForm.get('ine')!.dirty || editForm.get('ine')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ine')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.telephone" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                    <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 9 }">
                        This field is required to be at least 9 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.nomDuMari" for="field_nomDuMari">Nom Du Mari</label>
                    <input type="text" class="form-control" name="nomDuMari" id="field_nomDuMari"
                           formControlName="nomDuMari"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.regionDeNaissance" for="field_regionDeNaissance">Region De Naissance</label>
                    <input type="text" class="form-control" name="regionDeNaissance" id="field_regionDeNaissance"
                           formControlName="regionDeNaissance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.prenom2" for="field_prenom2">Prenom 2</label>
                    <input type="text" class="form-control" name="prenom2" id="field_prenom2"
                           formControlName="prenom2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.prenom3" for="field_prenom3">Prenom 3</label>
                    <input type="text" class="form-control" name="prenom3" id="field_prenom3"
                           formControlName="prenom3"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.paysDeNaissance" for="field_paysDeNaissance">Pays De Naissance</label>
                    <input type="text" class="form-control" name="paysDeNaissance" id="field_paysDeNaissance"
                           formControlName="paysDeNaissance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.nationalite" for="field_nationalite">Nationalite</label>
                    <input type="text" class="form-control" name="nationalite" id="field_nationalite"
                           formControlName="nationalite"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.addresseADakar" for="field_addresseADakar">Addresse A Dakar</label>
                    <input type="text" class="form-control" name="addresseADakar" id="field_addresseADakar"
                           formControlName="addresseADakar"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.boitePostal" for="field_boitePostal">Boite Postal</label>
                    <input type="text" class="form-control" name="boitePostal" id="field_boitePostal"
                           formControlName="boitePostal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.portable" for="field_portable">Portable</label>
                    <input type="text" class="form-control" name="portable" id="field_portable"
                           formControlName="portable"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.activiteSalariee" for="field_activiteSalariee">Activite Salariee</label>
                    <input type="checkbox" class="form-control" name="activiteSalariee" id="field_activiteSalariee"
                           formControlName="activiteSalariee"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.categorieSocioprofessionnelle" for="field_categorieSocioprofessionnelle">Categorie Socioprofessionnelle</label>
                    <input type="text" class="form-control" name="categorieSocioprofessionnelle" id="field_categorieSocioprofessionnelle"
                           formControlName="categorieSocioprofessionnelle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.situationFamiliale" for="field_situationFamiliale">Situation Familiale</label>
                    <input type="text" class="form-control" name="situationFamiliale" id="field_situationFamiliale"
                           formControlName="situationFamiliale"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.nombreEnfant" for="field_nombreEnfant">Nombre Enfant</label>
                    <input type="number" class="form-control" name="nombreEnfant" id="field_nombreEnfant"
                           formControlName="nombreEnfant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.bourse" for="field_bourse">Bourse</label>
                    <select class="form-control" name="bourse" formControlName="bourse" id="field_bourse">
                        <option value="NONBOURSIER">{{ 'projetInscriptionApp.EnumBourse.NONBOURSIER' | translate }}</option>
                        <option value="BOURSIER">{{ 'projetInscriptionApp.EnumBourse.BOURSIER' | translate }}</option>
                        <option value="ETRANGER">{{ 'projetInscriptionApp.EnumBourse.ETRANGER' | translate }}</option>
                        <option value="ETRANGEREXONERE">{{ 'projetInscriptionApp.EnumBourse.ETRANGEREXONERE' | translate }}</option>
                        <option value="ETRANGERTARIFNORMAL">{{ 'projetInscriptionApp.EnumBourse.ETRANGERTARIFNORMAL' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.natureBourse" for="field_natureBourse">Nature Bourse</label>
                    <select class="form-control" name="natureBourse" formControlName="natureBourse" id="field_natureBourse">
                        <option value="NATIONALE">{{ 'projetInscriptionApp.EnumNatureBourse.NATIONALE' | translate }}</option>
                        <option value="ETRANGERE">{{ 'projetInscriptionApp.EnumNatureBourse.ETRANGERE' | translate }}</option>
                        <option value="DEETABLISSEMENT">{{ 'projetInscriptionApp.EnumNatureBourse.DEETABLISSEMENT' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.montantBourse" for="field_montantBourse">Montant Bourse</label>
                    <input type="number" class="form-control" name="montantBourse" id="field_montantBourse"
                           formControlName="montantBourse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.organismeBoursier" for="field_organismeBoursier">Organisme Boursier</label>
                    <input type="text" class="form-control" name="organismeBoursier" id="field_organismeBoursier"
                           formControlName="organismeBoursier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.serieDiplome" for="field_serieDiplome">Serie Diplome</label>
                    <input type="text" class="form-control" name="serieDiplome" id="field_serieDiplome"
                           formControlName="serieDiplome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.anneeDiplome" for="field_anneeDiplome">Annee Diplome</label>
                    <input type="text" class="form-control" name="anneeDiplome" id="field_anneeDiplome"
                           formControlName="anneeDiplome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.mentionDiplome" for="field_mentionDiplome">Mention Diplome</label>
                    <input type="text" class="form-control" name="mentionDiplome" id="field_mentionDiplome"
                           formControlName="mentionDiplome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.lieuDiplome" for="field_lieuDiplome">Lieu Diplome</label>
                    <input type="text" class="form-control" name="lieuDiplome" id="field_lieuDiplome"
                           formControlName="lieuDiplome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.serieDuelDuesDutBts" for="field_serieDuelDuesDutBts">Serie Duel Dues Dut Bts</label>
                    <input type="text" class="form-control" name="serieDuelDuesDutBts" id="field_serieDuelDuesDutBts"
                           formControlName="serieDuelDuesDutBts"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.anneeDuelDuesDutBts" for="field_anneeDuelDuesDutBts">Annee Duel Dues Dut Bts</label>
                    <input type="text" class="form-control" name="anneeDuelDuesDutBts" id="field_anneeDuelDuesDutBts"
                           formControlName="anneeDuelDuesDutBts"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.mentionDuelDuesDutBts" for="field_mentionDuelDuesDutBts">Mention Duel Dues Dut Bts</label>
                    <input type="text" class="form-control" name="mentionDuelDuesDutBts" id="field_mentionDuelDuesDutBts"
                           formControlName="mentionDuelDuesDutBts"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.lieuDuelDuesDutBts" for="field_lieuDuelDuesDutBts">Lieu Duel Dues Dut Bts</label>
                    <input type="text" class="form-control" name="lieuDuelDuesDutBts" id="field_lieuDuelDuesDutBts"
                           formControlName="lieuDuelDuesDutBts"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.serieLicenceComplete" for="field_serieLicenceComplete">Serie Licence Complete</label>
                    <input type="text" class="form-control" name="serieLicenceComplete" id="field_serieLicenceComplete"
                           formControlName="serieLicenceComplete"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.anneeLicenceComplete" for="field_anneeLicenceComplete">Annee Licence Complete</label>
                    <input type="text" class="form-control" name="anneeLicenceComplete" id="field_anneeLicenceComplete"
                           formControlName="anneeLicenceComplete"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.mentionLicenceComplete" for="field_mentionLicenceComplete">Mention Licence Complete</label>
                    <input type="text" class="form-control" name="mentionLicenceComplete" id="field_mentionLicenceComplete"
                           formControlName="mentionLicenceComplete"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.lieuLicenceComplete" for="field_lieuLicenceComplete">Lieu Licence Complete</label>
                    <input type="text" class="form-control" name="lieuLicenceComplete" id="field_lieuLicenceComplete"
                           formControlName="lieuLicenceComplete"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.serieMaster" for="field_serieMaster">Serie Master</label>
                    <input type="text" class="form-control" name="serieMaster" id="field_serieMaster"
                           formControlName="serieMaster"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.anneeMaster" for="field_anneeMaster">Annee Master</label>
                    <input type="text" class="form-control" name="anneeMaster" id="field_anneeMaster"
                           formControlName="anneeMaster"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.mentionMaster" for="field_mentionMaster">Mention Master</label>
                    <input type="text" class="form-control" name="mentionMaster" id="field_mentionMaster"
                           formControlName="mentionMaster"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.lieu" for="field_lieu">Lieu</label>
                    <input type="text" class="form-control" name="lieu" id="field_lieu"
                           formControlName="lieu"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.serieDoctorat" for="field_serieDoctorat">Serie Doctorat</label>
                    <input type="text" class="form-control" name="serieDoctorat" id="field_serieDoctorat"
                           formControlName="serieDoctorat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.anneeDoctorat" for="field_anneeDoctorat">Annee Doctorat</label>
                    <input type="text" class="form-control" name="anneeDoctorat" id="field_anneeDoctorat"
                           formControlName="anneeDoctorat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.mentionDoctorat" for="field_mentionDoctorat">Mention Doctorat</label>
                    <input type="text" class="form-control" name="mentionDoctorat" id="field_mentionDoctorat"
                           formControlName="mentionDoctorat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.lieuDoctorat" for="field_lieuDoctorat">Lieu Doctorat</label>
                    <input type="text" class="form-control" name="lieuDoctorat" id="field_lieuDoctorat"
                           formControlName="lieuDoctorat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.nomPersonneAContacter" for="field_nomPersonneAContacter">Nom Personne A Contacter</label>
                    <input type="text" class="form-control" name="nomPersonneAContacter" id="field_nomPersonneAContacter"
                           formControlName="nomPersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.nomDuMariPersonneAContacter" for="field_nomDuMariPersonneAContacter">Nom Du Mari Personne A Contacter</label>
                    <input type="text" class="form-control" name="nomDuMariPersonneAContacter" id="field_nomDuMariPersonneAContacter"
                           formControlName="nomDuMariPersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.lienDeParentePersonneAContacter" for="field_lienDeParentePersonneAContacter">Lien De Parente Personne A Contacter</label>
                    <input type="text" class="form-control" name="lienDeParentePersonneAContacter" id="field_lienDeParentePersonneAContacter"
                           formControlName="lienDeParentePersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.adressePersonneAContacter" for="field_adressePersonneAContacter">Adresse Personne A Contacter</label>
                    <input type="text" class="form-control" name="adressePersonneAContacter" id="field_adressePersonneAContacter"
                           formControlName="adressePersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.rueQuartierPersonneAContacter" for="field_rueQuartierPersonneAContacter">Rue Quartier Personne A Contacter</label>
                    <input type="text" class="form-control" name="rueQuartierPersonneAContacter" id="field_rueQuartierPersonneAContacter"
                           formControlName="rueQuartierPersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.villePersonneAContacter" for="field_villePersonneAContacter">Ville Personne A Contacter</label>
                    <input type="text" class="form-control" name="villePersonneAContacter" id="field_villePersonneAContacter"
                           formControlName="villePersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.telephonePersonneAContacter" for="field_telephonePersonneAContacter">Telephone Personne A Contacter</label>
                    <input type="text" class="form-control" name="telephonePersonneAContacter" id="field_telephonePersonneAContacter"
                           formControlName="telephonePersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.prenomPersonneAContacter" for="field_prenomPersonneAContacter">Prenom Personne A Contacter</label>
                    <input type="text" class="form-control" name="prenomPersonneAContacter" id="field_prenomPersonneAContacter"
                           formControlName="prenomPersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.prenom2PersonneAContacter" for="field_prenom2PersonneAContacter">Prenom 2 Personne A Contacter</label>
                    <input type="text" class="form-control" name="prenom2PersonneAContacter" id="field_prenom2PersonneAContacter"
                           formControlName="prenom2PersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.prenom3PersonneAContacter" for="field_prenom3PersonneAContacter">Prenom 3 Personne A Contacter</label>
                    <input type="text" class="form-control" name="prenom3PersonneAContacter" id="field_prenom3PersonneAContacter"
                           formControlName="prenom3PersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.boitePostalePersonneAContacter" for="field_boitePostalePersonneAContacter">Boite Postale Personne A Contacter</label>
                    <input type="text" class="form-control" name="boitePostalePersonneAContacter" id="field_boitePostalePersonneAContacter"
                           formControlName="boitePostalePersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.portPersonneAContacter" for="field_portPersonneAContacter">Port Personne A Contacter</label>
                    <input type="text" class="form-control" name="portPersonneAContacter" id="field_portPersonneAContacter"
                           formControlName="portPersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.faxPersonneAContacter" for="field_faxPersonneAContacter">Fax Personne A Contacter</label>
                    <input type="text" class="form-control" name="faxPersonneAContacter" id="field_faxPersonneAContacter"
                           formControlName="faxPersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.emialPersonneAContacter" for="field_emialPersonneAContacter">Emial Personne A Contacter</label>
                    <input type="text" class="form-control" name="emialPersonneAContacter" id="field_emialPersonneAContacter"
                           formControlName="emialPersonneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.responsableEstEtudiant" for="field_responsableEstEtudiant">Responsable Est Etudiant</label>
                    <input type="checkbox" class="form-control" name="responsableEstEtudiant" id="field_responsableEstEtudiant"
                           formControlName="responsableEstEtudiant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.personneAContacter" for="field_personneAContacter">Personne A Contacter</label>
                    <input type="checkbox" class="form-control" name="personneAContacter" id="field_personneAContacter"
                           formControlName="personneAContacter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.statusEtudiant" for="field_statusEtudiant">Status Etudiant</label>
                    <select class="form-control" name="statusEtudiant" formControlName="statusEtudiant" id="field_statusEtudiant">
                        <option value="REGIMENORMAL">{{ 'projetInscriptionApp.EnumStatusEtudiant.REGIMENORMAL' | translate }}</option>
                        <option value="REGIMESALARIE">{{ 'projetInscriptionApp.EnumStatusEtudiant.REGIMESALARIE' | translate }}</option>
                        <option value="REGIMEPARTICULIER">{{ 'projetInscriptionApp.EnumStatusEtudiant.REGIMEPARTICULIER' | translate }}</option>
                        <option value="MISEENPOSITIONDESTAGE">{{ 'projetInscriptionApp.EnumStatusEtudiant.MISEENPOSITIONDESTAGE' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.etudiant.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
