<div class="container-fluid container-sm">
    <div ngbDropdown class="d-inline-block">
        <button mat-stroked-button color="primary" id="dropdownBasic1" ngbDropdownToggle class="etatbutton">Voir l'état d'avancement de mon inscription</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="etat">
            <table class="table">
                <thead>
                <tr>
                    <th style="text-align : center">Etat inscription</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Fiche d'inscription

                        <div class="progress">
                            <div class="progress-bar" style="width:70%">rempli à 70%</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Visite médicale

                        <div class="progress">
                            <div class="progress-bar bg-secondary  progress-bar-striped progress-bar-animated" style="width:100%">Non fait</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Payement frais d'assurance

                        <div class="progress">
                            <div class="progress-bar bg-secondary  progress-bar-striped progress-bar-animated" style="width:100%">Non payé</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Payement frais bibliothèque

                        <div class="progress">
                            <div class="progress-bar">Payé</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div><br><br>

    <div class="container-fluid container-sm ficheIns">
        <h6>UNIVERSITE CHEIKH ANTA DIOP DE DAKAR</h6>
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand logo" href="#">
                <img src="../../../content/images/senegal-ucad.png" alt=""/>
            </a>
            <ul class="navbar-nav ml-auto">
                <li><div class="annee"> ANNEE UNIVERSITAIRE 2020/2021 </div></li>
            </ul>
        </nav>


        <h2>DOSSIER D'INSCRIPTION ADMINISTRATIVE</h2>
        <mat-vertical-stepper [linear]="false" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>IDENTIFIANTS</ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>N&#176; Carte d'Etudiant</mat-label>
                        <input matInput placeholder="Nom" formControlName="firstCtrl">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>N&#176; Quittance d'inscription</mat-label>
                        <input matInput placeholder="Prénom(s)" formControlName="testCtrl">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>N&#176; Carte d'identité (Sénégalais uniquement)</mat-label>
                        <input matInput placeholder="Nom du mari" formControlName="nameMari">
                    </mat-form-field><br>
                </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel><div class="container-fluid titlee"> ETAT CIVIL </div></ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="Nom" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Prénom(s)</mat-label>
                        <input matInput placeholder="Prénom(s)" formControlName="testCtrl" required>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Nom du mari</mat-label>
                        <input matInput placeholder="Nom du mari" formControlName="nameMari">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Date de naissance</mat-label>
                        <input type="date" matInput placeholder="Date de naissance" formControlName="dateNaiss">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Sexe</mat-label>
                        <mat-select formControlName="sexe" required>
                            <mat-option value="M">M</mat-option>
                            <mat-option value="F">F</mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Lieu de naissance</mat-label>
                        <input matInput placeholder="Lieu de naissance" formControlName="lieuNaiss" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Pays de naissance</mat-label>
                        <input matInput placeholder="Pays de naissance" formControlName="paysNaiss" required>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Région de naissance</mat-label>
                        <input matInput placeholder="Région de naissance" formControlName="regionNaiss" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Nationalité</mat-label>
                        <input matInput placeholder="Nationalité" formControlName="nationalite" required>
                    </mat-form-field><br>
                    <div>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel><div class="container-fluid titlee"> ADRESSE ACTUELLE </div></ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Addresse à Dakar</mat-label>
                        <input matInput formControlName="adresse" placeholder="Adresse à Dakar" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Boite postale</mat-label>
                        <input matInput formControlName="boitePostale" placeholder="Boite postale">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Téléphone</mat-label>
                        <input matInput formControlName="telephone" placeholder="Téléphone" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Portable</mat-label>
                        <input matInput formControlName="portable" placeholder="Portable" required>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email" required>
                    </mat-form-field><br>
                    <div>
                        <button mat-button matStepperPrevious>Précédent</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="forFormGroup">
                <form [formGroup]="forFormGroup">
                    <ng-template matStepLabel><div class="container-fluid titlee"> EMPLOI </div></ng-template>

                    <mat-label>Exercer-vous une activité salarié ?</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-group aria-label="Exercer-vous une activité salarié ?" formControlName="actSalarieExist" required>
                        <mat-radio-button value="1">OUI</mat-radio-button>
                        <mat-radio-button value="2">NON</mat-radio-button>
                    </mat-radio-group><br>

                    <mat-form-field appearance="outline">
                        <mat-label>Statut de l'Etudiant</mat-label>
                        <mat-select formControlName="statutEtudiant" required >
                            <mat-option value="Régime normal">Régime normal</mat-option>
                            <mat-option value="Régime salarié">Régime Salarié</mat-option>
                            <mat-option value="Régime salarié">Régime Particulier</mat-option>
                            <mat-option value="Régime salarié">Mise en position de stage</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Catégorie socioprofessionnelle</mat-label>
                        <input matInput formControlName="catProfession" placeholder="Catégorie socioprofessionnelle" >
                    </mat-form-field><br>
                    <div>
                        <button mat-button matStepperPrevious>Précédent</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="fiveFormGroup">
                <form [formGroup]="fiveFormGroup">
                    <ng-template matStepLabel><div class="container-fluid titlee"> SITUATION FAMILIALE </div></ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Situation familiale</mat-label>
                        <input matInput formControlName="sitFamiliale" placeholder="Situation familiale">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre d'enfants</mat-label>
                        <input matInput type="number" formControlName="nbrEnfant" placeholder="Nombre d'enfants">
                    </mat-form-field><br>
                    <div>
                        <button mat-button matStepperPrevious>Précédent</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="sixFormGroup">
                <form [formGroup]="sixFormGroup">
                    <ng-template matStepLabel><div class="container-fluid titlee"> INSCRIPTION ANNUELLE </div></ng-template>
                    <mat-label>Vous vous inscrivez :</mat-label><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Année d'étude</mat-label>
                        <input matInput formControlName="anneEtude" placeholder="Année d'étude" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Cycle</mat-label>
                        <input matInput type="number" formControlName="cycle" placeholder="Cycle" required>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Département ou option choisie</mat-label>
                        <input matInput formControlName="departement" placeholder="Département ou option choisie" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre d'inscription antérieure</mat-label>
                        <mat-select formControlName="nbrInscriptionAnt" required >
                            <mat-option value="1ère année">1ère année</mat-option>
                            <mat-option value="2ème année">2ème année</mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <mat-label>Redoublez-vous ?</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-group aria-label="Exercer-vous une activité salarié ?" formControlName="redoublerExist" required>
                        <mat-radio-button value="1">OUI</mat-radio-button>
                        <mat-radio-button value="2">NON</mat-radio-button>
                    </mat-radio-group><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Horaire des TD(uniquement FASEG et FSJP)</mat-label>
                        <mat-select formControlName="horaireTD">
                            <mat-option value="Avant 18H">Avant 18H</mat-option>
                            <mat-option value="Après 18H">Après 18H</mat-option>
                            <mat-option value="Régime particulier">Régime particulier</mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <div>
                        <button mat-button matStepperPrevious>Précédent</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="sevenFormGroup">
                <form [formGroup]="sevenFormGroup">
                    <ng-template matStepLabel><div class="container-fluid titlee"> BOURSES </div></ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Bourse</mat-label>
                        <mat-select formControlName="bourse" required >
                            <mat-option value="Boursier">Boursier</mat-option>
                            <mat-option value="Non Boursier">Non Boursier</mat-option>
                            <mat-option value="Etranger">Etranger</mat-option>
                            <mat-option value="Etranger exonéré">Etranger exonéré</mat-option>
                            <mat-option value="Etranger tarif normal">Etranger tarif normal</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Nature de la bourse</mat-label>
                        <mat-select formControlName="typeBourse">
                            <mat-option value="Nationale">Nationale</mat-option>
                            <mat-option value="Etrangère">Etrangère</mat-option>
                            <mat-option value="de l'Etablissement">de l'Etablissement</mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Montant Bourse</mat-label>
                        <input matInput formControlName="montantBourse" placeholder="Montant Bourse">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Organisme boursier</mat-label>
                        <input matInput formControlName="organismeBousier" placeholder="Organisme boursier">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Bourse Etranger éxonoré à (%)</mat-label>
                        <input matInput formControlName="pourcentageExonore" placeholder="Bourse Etranger éxonoré à (%)">
                    </mat-form-field><br>
                    <div>
                        <button mat-button matStepperPrevious>Précédent</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="heightFormGroup">
                <form [formGroup]="heightFormGroup">
                    <ng-template matStepLabel><div class="container-fluid titlee"> CURRICULUM </div></ng-template>
                    <mat-form-field appearance="outline">
                        <mat-label>Addresse à Dakar</mat-label>
                        <input matInput formControlName="adresse" placeholder="Adresse à Dakar" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Boite postale</mat-label>
                        <input matInput formControlName="boitePostale" placeholder="Boite postale">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Téléphone</mat-label>
                        <input matInput formControlName="telephone" placeholder="Téléphone" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Portable</mat-label>
                        <input matInput formControlName="portable" placeholder="Portable" required>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email" required>
                    </mat-form-field><br>
                    <div>
                        <button mat-button matStepperPrevious>Précédent</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="nineFormGroup">
                <form [formGroup]="nineFormGroup">
                    <ng-template matStepLabel><div class="container-fluid titlee"> CONTACT </div></ng-template>
                    <mat-label style="font-weight: bold;">Responsable / Personne à contacter en cas de besoin à Dakar (à préciser)</mat-label><br>
                    <mat-label style="font-weight: bold;">Etat civil</mat-label><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="nomResponsable" placeholder="Nom" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Prénom(s)</mat-label>
                        <input matInput formControlName="prenomResponsable" placeholder="Prénom(s)" required>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Nom du mari</mat-label>
                        <input matInput formControlName="nomMariResponsable" placeholder="Nom du Mari">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Lien de parenté</mat-label>
                        <input matInput formControlName="lienParente" placeholder="Lien de parenté" required>
                    </mat-form-field><br>
                    <mat-label style="font-weight: bold;">Adresse</mat-label><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Rue</mat-label>
                        <input matInput formControlName="rue" placeholder="Rue" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Quartier</mat-label>
                        <input matInput formControlName="quartier" placeholder="Quartier" required>
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Boite Postale</mat-label>
                        <input matInput formControlName="boitePostale" placeholder="Boite Postale">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Téléphone</mat-label>
                        <input matInput formControlName="telephone" placeholder="Téléphone" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Portable</mat-label>
                        <input matInput formControlName="portable" placeholder="portable">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Fax</mat-label>
                        <input matInput formControlName="fax" placeholder="fax">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email" required>
                    </mat-form-field><br>
                    <mat-label>Le responsable est-il étudiant ?</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-group aria-label="Exercer-vous une activité salarié ?" formControlName="resEtudiantTF" required>
                        <mat-radio-button value="1">OUI</mat-radio-button>
                        <mat-radio-button value="2">NON</mat-radio-button>
                    </mat-radio-group>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-label>Personne à contacter ?</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-group aria-label="Exercer-vous une activité salarié ?" formControlName="resAContacterTF" required>
                        <mat-radio-button value="1">OUI</mat-radio-button>
                        <mat-radio-button value="2">NON</mat-radio-button>
                    </mat-radio-group>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="tenFormGroup">
                <form [formGroup]="tenFormGroup">
                    <ng-template matStepLabel><div class="container-fluid titlee"> VISITE MEDICALE </div></ng-template>
                    <mat-label>Apte : </mat-label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-group aria-label="Exercer-vous une activité salarié ?" formControlName="isApte">
                        <mat-radio-button value="1" disabled>OUI</mat-radio-button>
                        <mat-radio-button value="2" disabled>NON</mat-radio-button>
                    </mat-radio-group><br>
                    <div class="alert alert-warning">
                        <strong>La visite médical est obligatoire </strong>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Précédent</button>
                        <button mat-button matStepperNext>Suivant</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Soumettre</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>

    </div>
</div>
