<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etudiant">
            <h2><span jhiTranslate="projetInscriptionApp.etudiant.detail.title">Etudiant</span> {{ etudiant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.numIdentifiant">Num Identifiant</span></dt>
                <dd>
                    <span>{{ etudiant.numIdentifiant }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.dateNaissance">Date Naissance</span></dt>
                <dd>
                    <span>{{ etudiant.dateNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.lieuNaissance">Lieu Naissance</span></dt>
                <dd>
                    <span>{{ etudiant.lieuNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.sexe">Sexe</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projetInscriptionApp.EnumSexe.' + etudiant.sexe }}">{{ etudiant.sexe }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.ine">Ine</span></dt>
                <dd>
                    <span>{{ etudiant.ine }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ etudiant.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.email">Email</span></dt>
                <dd>
                    <span>{{ etudiant.email }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.nomDuMari">Nom Du Mari</span></dt>
                <dd>
                    <span>{{ etudiant.nomDuMari }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.regionDeNaissance">Region De Naissance</span></dt>
                <dd>
                    <span>{{ etudiant.regionDeNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.prenom2">Prenom 2</span></dt>
                <dd>
                    <span>{{ etudiant.prenom2 }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.prenom3">Prenom 3</span></dt>
                <dd>
                    <span>{{ etudiant.prenom3 }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.paysDeNaissance">Pays De Naissance</span></dt>
                <dd>
                    <span>{{ etudiant.paysDeNaissance }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.nationalite">Nationalite</span></dt>
                <dd>
                    <span>{{ etudiant.nationalite }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.addresseADakar">Addresse A Dakar</span></dt>
                <dd>
                    <span>{{ etudiant.addresseADakar }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.boitePostal">Boite Postal</span></dt>
                <dd>
                    <span>{{ etudiant.boitePostal }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.portable">Portable</span></dt>
                <dd>
                    <span>{{ etudiant.portable }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.activiteSalariee">Activite Salariee</span></dt>
                <dd>
                    <span>{{ etudiant.activiteSalariee }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.categorieSocioprofessionnelle">Categorie Socioprofessionnelle</span></dt>
                <dd>
                    <span>{{ etudiant.categorieSocioprofessionnelle }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.situationFamiliale">Situation Familiale</span></dt>
                <dd>
                    <span>{{ etudiant.situationFamiliale }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.nombreEnfant">Nombre Enfant</span></dt>
                <dd>
                    <span>{{ etudiant.nombreEnfant }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.bourse">Bourse</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projetInscriptionApp.EnumBourse.' + etudiant.bourse }}">{{ etudiant.bourse }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.natureBourse">Nature Bourse</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projetInscriptionApp.EnumNatureBourse.' + etudiant.natureBourse }}">{{ etudiant.natureBourse }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.montantBourse">Montant Bourse</span></dt>
                <dd>
                    <span>{{ etudiant.montantBourse }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.organismeBoursier">Organisme Boursier</span></dt>
                <dd>
                    <span>{{ etudiant.organismeBoursier }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.serieDiplome">Serie Diplome</span></dt>
                <dd>
                    <span>{{ etudiant.serieDiplome }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.anneeDiplome">Annee Diplome</span></dt>
                <dd>
                    <span>{{ etudiant.anneeDiplome }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.mentionDiplome">Mention Diplome</span></dt>
                <dd>
                    <span>{{ etudiant.mentionDiplome }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.lieuDiplome">Lieu Diplome</span></dt>
                <dd>
                    <span>{{ etudiant.lieuDiplome }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.serieDuelDuesDutBts">Serie Duel Dues Dut Bts</span></dt>
                <dd>
                    <span>{{ etudiant.serieDuelDuesDutBts }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.anneeDuelDuesDutBts">Annee Duel Dues Dut Bts</span></dt>
                <dd>
                    <span>{{ etudiant.anneeDuelDuesDutBts }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.mentionDuelDuesDutBts">Mention Duel Dues Dut Bts</span></dt>
                <dd>
                    <span>{{ etudiant.mentionDuelDuesDutBts }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.lieuDuelDuesDutBts">Lieu Duel Dues Dut Bts</span></dt>
                <dd>
                    <span>{{ etudiant.lieuDuelDuesDutBts }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.serieLicenceComplete">Serie Licence Complete</span></dt>
                <dd>
                    <span>{{ etudiant.serieLicenceComplete }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.anneeLicenceComplete">Annee Licence Complete</span></dt>
                <dd>
                    <span>{{ etudiant.anneeLicenceComplete }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.mentionLicenceComplete">Mention Licence Complete</span></dt>
                <dd>
                    <span>{{ etudiant.mentionLicenceComplete }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.lieuLicenceComplete">Lieu Licence Complete</span></dt>
                <dd>
                    <span>{{ etudiant.lieuLicenceComplete }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.serieMaster">Serie Master</span></dt>
                <dd>
                    <span>{{ etudiant.serieMaster }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.anneeMaster">Annee Master</span></dt>
                <dd>
                    <span>{{ etudiant.anneeMaster }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.mentionMaster">Mention Master</span></dt>
                <dd>
                    <span>{{ etudiant.mentionMaster }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.lieu">Lieu</span></dt>
                <dd>
                    <span>{{ etudiant.lieu }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.serieDoctorat">Serie Doctorat</span></dt>
                <dd>
                    <span>{{ etudiant.serieDoctorat }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.anneeDoctorat">Annee Doctorat</span></dt>
                <dd>
                    <span>{{ etudiant.anneeDoctorat }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.mentionDoctorat">Mention Doctorat</span></dt>
                <dd>
                    <span>{{ etudiant.mentionDoctorat }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.lieuDoctorat">Lieu Doctorat</span></dt>
                <dd>
                    <span>{{ etudiant.lieuDoctorat }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.nomPersonneAContacter">Nom Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.nomPersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.nomDuMariPersonneAContacter">Nom Du Mari Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.nomDuMariPersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.lienDeParentePersonneAContacter">Lien De Parente Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.lienDeParentePersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.adressePersonneAContacter">Adresse Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.adressePersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.rueQuartierPersonneAContacter">Rue Quartier Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.rueQuartierPersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.villePersonneAContacter">Ville Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.villePersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.telephonePersonneAContacter">Telephone Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.telephonePersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.prenomPersonneAContacter">Prenom Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.prenomPersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.prenom2PersonneAContacter">Prenom 2 Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.prenom2PersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.prenom3PersonneAContacter">Prenom 3 Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.prenom3PersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.boitePostalePersonneAContacter">Boite Postale Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.boitePostalePersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.portPersonneAContacter">Port Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.portPersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.faxPersonneAContacter">Fax Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.faxPersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.emialPersonneAContacter">Emial Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.emialPersonneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.responsableEstEtudiant">Responsable Est Etudiant</span></dt>
                <dd>
                    <span>{{ etudiant.responsableEstEtudiant }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.personneAContacter">Personne A Contacter</span></dt>
                <dd>
                    <span>{{ etudiant.personneAContacter }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.statusEtudiant">Status Etudiant</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projetInscriptionApp.EnumStatusEtudiant.' + etudiant.statusEtudiant }}">{{ etudiant.statusEtudiant }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.etudiant.user">User</span></dt>
                <dd>
                    {{ etudiant.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etudiant', etudiant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
