<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-departement-heading" jhiTranslate="projetInscriptionApp.departement.home.createOrEditLabel">Create or edit a Departement</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.departement.codeDept" for="field_codeDept">Code Dept</label>
                    <input type="text" class="form-control" name="codeDept" id="field_codeDept"
                           formControlName="codeDept"/>
                    <div *ngIf="editForm.get('codeDept')!.invalid && (editForm.get('codeDept')!.dirty || editForm.get('codeDept')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeDept')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeDept')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.departement.libelleLong" for="field_libelleLong">Libelle Long</label>
                    <input type="text" class="form-control" name="libelleLong" id="field_libelleLong"
                           formControlName="libelleLong"/>
                    <div *ngIf="editForm.get('libelleLong')!.invalid && (editForm.get('libelleLong')!.dirty || editForm.get('libelleLong')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libelleLong')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.departement.chef" for="field_chef">Chef</label>
                    <input type="text" class="form-control" name="chef" id="field_chef"
                           formControlName="chef"/>
                    <div *ngIf="editForm.get('chef')!.invalid && (editForm.get('chef')!.dirty || editForm.get('chef')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('chef')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.departement.typeDept" for="field_typeDept">Type Dept</label>
                    <select class="form-control" name="typeDept" formControlName="typeDept" id="field_typeDept">
                        <option value="Departement">{{ 'projetInscriptionApp.EnumTypeDept.Departement' | translate }}</option>
                        <option value="Service">{{ 'projetInscriptionApp.EnumTypeDept.Service' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('typeDept')!.invalid && (editForm.get('typeDept')!.dirty || editForm.get('typeDept')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeDept')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
