<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetInscriptionApp.departement.home.title">Departements</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-departement" [routerLink]="['/departement/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="projetInscriptionApp.departement.home.createLabel">
            Create a new Departement
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="departements?.length === 0">
        <span jhiTranslate="projetInscriptionApp.departement.home.notFound">No departements found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="departements && departements.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeDept"><span jhiTranslate="projetInscriptionApp.departement.codeDept">Code Dept</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleLong"><span jhiTranslate="projetInscriptionApp.departement.libelleLong">Libelle Long</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="chef"><span jhiTranslate="projetInscriptionApp.departement.chef">Chef</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeDept"><span jhiTranslate="projetInscriptionApp.departement.typeDept">Type Dept</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let departement of departements ;trackBy: trackId">
                    <td><a [routerLink]="['/departement', departement.id, 'view']">{{ departement.id }}</a></td>
                    <td>{{ departement.codeDept }}</td>
                    <td>{{ departement.libelleLong }}</td>
                    <td>{{ departement.chef }}</td>
                    <td jhiTranslate="{{ 'projetInscriptionApp.EnumTypeDept.' + departement.typeDept }}">{{ departement.typeDept }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/departement', departement.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/departement', departement.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(departement)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="departements && departements.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
