<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="departement">
            <h2><span jhiTranslate="projetInscriptionApp.departement.detail.title">Departement</span> {{ departement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetInscriptionApp.departement.codeDept">Code Dept</span></dt>
                <dd>
                    <span>{{ departement.codeDept }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.departement.libelleLong">Libelle Long</span></dt>
                <dd>
                    <span>{{ departement.libelleLong }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.departement.chef">Chef</span></dt>
                <dd>
                    <span>{{ departement.chef }}</span>
                </dd>
                <dt><span jhiTranslate="projetInscriptionApp.departement.typeDept">Type Dept</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projetInscriptionApp.EnumTypeDept.' + departement.typeDept }}">{{ departement.typeDept }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/departement', departement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
