<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-formation-heading" jhiTranslate="projetInscriptionApp.formation.home.createOrEditLabel">Create or edit a Formation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.formation.codeFormation" for="field_codeFormation">Code Formation</label>
                    <input type="text" class="form-control" name="codeFormation" id="field_codeFormation"
                           formControlName="codeFormation"/>
                    <div *ngIf="editForm.get('codeFormation')!.invalid && (editForm.get('codeFormation')!.dirty || editForm.get('codeFormation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeFormation')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeFormation')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.formation.libelleLong" for="field_libelleLong">Libelle Long</label>
                    <input type="text" class="form-control" name="libelleLong" id="field_libelleLong"
                           formControlName="libelleLong"/>
                    <div *ngIf="editForm.get('libelleLong')!.invalid && (editForm.get('libelleLong')!.dirty || editForm.get('libelleLong')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libelleLong')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetInscriptionApp.formation.departement" for="field_departement">Departement</label>
                    <select class="form-control" id="field_departement" name="departement" formControlName="departement">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departementOption.id === editForm.get('departement')!.value?.id ? editForm.get('departement')!.value : departementOption" *ngFor="let departementOption of departements; trackBy: trackById">{{ departementOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
