@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
carousel
========================================================================== */
.img-responsive {
  max-width: 100%;
  width: 1520px;
  height: 225px;
}
