<div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 >Création de Compte Utilisateur</h1>
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">

                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{ 'global.form.email.placeholder' | translate }}"
                           formControlName="email">

                    <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.required"
                               jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.invalid"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="numIdentifiant">Numéro d'identifiant</label>
                    <input type="text" class="form-control" id="numIdentifiant" name="numIdentifiant" placeholder="Votre numéro d'étudiant ou numéro de table"
                           formControlName="numIdentifiant">
                    <div *ngIf="registerForm.get('numIdentifiant')!.invalid && (registerForm.get('numIdentifiant')!.dirty || registerForm.get('numIdentifiant')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('numIdentifiant')?.errors?.required">
                            Votre numéro d'identifiant est requise.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('numIdentifiant')?.errors?.minlength">
                            Votre numéro d'identifiant doit comporter au moins 6 caractères.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('numIdentifiant')?.errors?.maxlength">
                            Votre numéro d'identifiant ne doit pas comporter plus de 9 caractères.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="dateNaissance">Date Naissance</label>
                    <div class="input-group">
                        <input id="dateNaissance" type="text" class="form-control" name="dateNaissance" ngbDatepicker #dateNaissanceDp="ngbDatepicker" formControlName="dateNaissance"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="registerForm.get('dateNaissance')!.invalid && (registerForm.get('dateNaissance')!.dirty || registerForm.get('dateNaissance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('dateNaissance')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="telephone" >Numéro de téléphone</label>
                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Votre numéro de téléphone"
                           formControlName="telephone">
                    <div *ngIf="registerForm.get('telephone')!.invalid && (registerForm.get('telephone')!.dirty || registerForm.get('telephone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('telephone')?.errors?.required">
                            Votre numéro de téléphone est requise.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('telephone')?.errors?.minlength">
                            Votre numéro de téléphone doit comporter au moins 9 caractères.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('telephone')?.errors?.maxlength">
                            Votre numéro de téléphone ne doit pas comporter plus de 12 caractères.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword.label">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                            formControlName="password">

                    <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                            formControlName="confirmPassword">

                    <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                               jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" jhiTranslate="register.form.button">Register</button>
            </form>
        </div><br>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailFound">
                <strong>Veuillez utiliser l'email et/ou le numéro de téléphone fournit au niveau de la scolarité</strong>
            </div>

            <div class="alert alert-danger" *ngIf="erroIdentifiantExists">
                <strong>L'identifiant que vous avez fourni n'est pas valide</strong>
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>
</div>
