@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.navbar-title {
  font-size: 0.65em;
}

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

a {
  font-weight: bold;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/senegal-ucad.png') no-repeat center center;
  background-size: contain;
}

@media all and (max-width: 500px) {
  .navbar-title {
    font-size: 0.4em;
  }

  .logo-img {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/senegal-ucad.png') no-repeat center center;
    background-size: contain;
  }
}
